<% include layout/header.ejs %>

<h1>Панель администратора:</h1>
<div class="adminPanel">
  <a href="/administrator/users" title="">Список пользователей</a>
  <a href="/administrator/services" title="">Список сервисов</a>
  <button type="submit" id="btnLogout">Выйти</button>
</div>

<% include layout/footer.ejs %>