<% include layout/header.ejs %>

<h1>Single Sing On</h1>
<a href="/registration">Еще нет аккаунта?</a>
<form method="post" class="authorizationForm">
  <input type="text" name="username" id="logUsername" placeholder="Логин">
  <input type="password" name="password" id="logPassword" placeholder="Пароль">
  <button type="submit" class="btnAuth" id="btnLogin">Авторизироваться</button>
</form>

<% include layout/footer.ejs %>