<% include layout/header.ejs %>

<form method="post" class="registerForm">
  <h1>Регистрация нового пользователя:</h1>
  <input type="text" name="username" id="regUsername" placeholder="Логин">
  <input type="password" name="password" id="regPassword" placeholder="Пароль">
  <input type="password" name="passwordConfirm" id="regPasswordConfirm" placeholder="Повторите пароль">
  <input type="text" name="email" id="regEmail" placeholder="Email">
  <button type="submit" id="btnRegister">Зарегистрироваться</button>
</form>

<% include layout/footer.ejs %>