<% include layout/header.ejs %>

<h1>Сервисы:</h1>
<form method="POST">
  <div class="newService">
    <input type="text" name="" placeholder="Название сервиса" id="iptServiceName">
    <input type="checkbox" id="iptAccess">
    <button type="submit" id="btnAddService">Добавить сервис</button>
  </div>
</form>

<div class="serviceList">
  <ul>
    <% services.forEach(function(service){%>
    <li> 
      Сервис: <%= service.servicename %> Доступ: <%= service.access %>
      <button type="submit">Редактировать</button>
      <button type="submit" data-servicename="<%= service.servicename %>" class="buttonDeleteService">Удалить</button>
    </li>
  <% }); %>
</ul>

</div>

<% include layout/footer.ejs %>