<% include layout/header.ejs %>

<h1>Пользователи:</h1>
<div class="users">
  <ul>
    <% users.forEach(function(user){%>
    <li> 
      Идентификатор: <%= user.id %> Логин: <%= user.username %> Пароль: <%= user.password%> Email: <%= user.email%>
      <button type="submit">Редактировать</button>
      <button type="submit" data-username="<%= user.username %>" class="buttonDeleteUser">Удалить</button>
    </li>
    <% }); %>
  </ul>
</div>

<% include layout/footer.ejs %>