<% include layout/header.ejs %>

<div class="userData">
  <h1>Пользователь <%= user.username %></h1>
  <ul>
    <li>Email пользователя: <%= user.email %></li>
  </ul>
  <label>Для смены пароля введите:</label>
  <input type="password" name="" id="passwordOld" placeholder="Старый пароль">
  <input type="password" name="" id="password" placeholder="Новый пароль">
  <input type="password" name="" id="passwordConfirm" placeholder="Подтвердите новый пароль">
  <button type="submit" id="btnChangePassword" data-username="<%= user.username%>">Сменить пароль</button>
  <button type="submit" id="btnLogout">Выйти</button>
  <!--<button type="submit" id="btnDeleteAccount">Удалить аккаунт</button>-->
</div>

</form>

<% include layout/footer.ejs %>