<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SSO</title>
  <link rel="stylesheet" type="text/css" href="<%= assetFingerprint('/stylesheets/main.css') %>">
</head>
<body>
<header id="header" class="">
  <a href="/">BIG LOGO BEST SSO SERVER</a>
  <a href="/">На главную!</a>
</header><!-- /header -->