$color: #F8F8FF;

body{
  background-color: $color;
}

.error{
  border-color: red;
  background-color: #FF7373;
  color: white;
}

input{
  border-radius: 3px;

  border: 1px, solid;
  border-color: #FFC0C8;
  background-color: white;
  color: black;
}